* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: 'Merriwather';
  src: url(../fonts/Merriweather-Black.ttf);
}

body {
  background-color: #191411;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  color: #fff;
}

.background {
  background-image: url(../images/main_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: initial;
  overflow: hidden;
  z-index: -2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: linear-gradient(96deg, #da8023 0%, #e2b438 100%);
  color: #191411;
  font-size: 18px;
  font-family: inherit;
  user-select: none;
}

.button:hover {
  background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.common-title {
  font-family: 'Merriwather', serif;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.header {
  padding: 40px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  vertical-align: bottom;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-item {
  margin-right: 88px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.menu-item a:hover {
  border-bottom: 2px solid #fff;
}

.currency {
  cursor: pointer;
  padding: 11px 0;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  user-select: none;
}

.promo {
  position: relative;
  padding: 103px 0 199px 0;
}

.promo-info {
  display: inline-block;
  max-width: 608px;
}

.promo-small-info_btn {
  cursor: pointer;
  padding: 12px 16px;
  border: none;
  border-radius: 100px;
  background-color: #d3320f;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  user-select: none;
}

.promo-title {
  font-family: 'Merriwather', serif;
  font-size: 120px;
  line-height: 156px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.promo-description {
  font-family: inherit;
  line-height: 29px;
  font-size: 24px;
  margin-bottom: 40px;
}

.promo-info_btn {
  width: 260px;
  height: 62px;
}

.promo-image img {
  position: absolute;
  top: -40px;
  right: calc(100% - 1500px);
}

.why {
  background-image: url(../images/whybg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: initial;
  padding-bottom: 140px;
}

.why .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-cards {
  display: grid;
  grid-template-columns: repeat(3, 312px);
  gap: 100px;
}

.why-card {
  max-width: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-card img {
  margin-bottom: 40px;
}

.why-card-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.why-card-description {
  font-family: inherit;
  line-height: 24px;
  font-size: 16px;
}

.product {
  padding-bottom: 180px;
}

.product .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 24px;
  background-image: url(../images/burgers_bg.png);
  background-position: bottom center;
  background-repeat: repeat;
  background-size: 1252px;
  margin-top: 60px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #211a16;
  padding: 30px;
  border: 1px solid #353535;
  border-radius: 16px;
}

.product-card img {
  height: 250px;
  max-width: 100%;
}

.product-card-title {
  font-family: 'Gilroy', sans-serif;
  font-size: 30px;
  line-height: 35x;
  margin: 24px 0;
}

.product-card-description {
  line-height: 140%;
  font-size: 18px;
  margin-bottom: 24px;
}

.product-card-extra {
  display: flex;
  justify-content: space-between;
}

.product-card-info {
  display: flex;
  flex-direction: column;
}

.product-card-info .price {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
}

.product-card-info .weight {
  line-height: 29px;
  font-size: 16px;
  color: #757575;
}

.product-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 62px;
}

.product-card-btn span:first-child {
  margin-right: 10px;
}

.product-card-btn span:last-child {
  margin-top: 5px;
}

.order {
  background-image: url(../images/order_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  overflow: hidden;
}

.order .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__image {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}

.order__form {
  display: flex;
  flex-direction: column;
  width: 424px;
  padding: 60px 40px;
  background-color: transparent;
  border-radius: 16px;
  box-sizing: border-box;
  margin-left: 565px;
}
.order__form-label {
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}

.order__form-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 344px;
  height: 62px;
  background: linear-gradient(90.13deg, #da8023 0%, #e2b438 100%);
  border-radius: 8px;
  margin-bottom: 20px;
}

.order__form-input {
  width: 342px;
  height: 60px;
  background: #211a16;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 10px;
  color: #757575;
  font-size: 16px;
  border: none;
  outline: none;
}

.order__form-input:focus-visible {
  border: none;
  outline: none;
}

.order__form-button {
  width: 344px;
  height: 62px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.footer-copyright {
  font-size: 16px;
  line-height: 20px;
}
